temporary/
outputs/
run_results/
minelink/intiation_modules
jiyoon_stuff/
__pycache__/
minelink/__pycache__/
minelink/.ipynb_checkpoints/
m0_load_input/__pycache__/
m1_input_preprocessing/__pycache__/
m2_intralinking/__pycache__/
m3_interlinking/__pycache__/
m4_postprocessing/__pycache__/
m5_save_output/__pycache__/
m6_testing/__pycache__/
check.py
main.py
gen.py
__init__.py
test.png
test.py
tmp.csv
*.sh